---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
---
<BaseLayout pageTitle={pageTitle}>
<p>Hello! I'm Davis, an independent software developer based in <a href='https://en.wikipedia.org/wiki/W%C3%BCrzburg'>Würzburg, Germany</a>. My work helps people organize and analyze large n-dimensional array datasets.
</BaseLayout>