---
import PostPreview from '../components/PostPreview.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
//import { getCollection } from 'astro:content';
//const allPosts = await getCollection('posts');
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle="">
  <p><em>Recent posts</em></p>
  <ul style="list-style-type: none; margin: 0">{allPosts.map((post: any) => <li><PostPreview post={post}></li>)}</ul>
</BaseLayout>
