---
import Social from "./Social.astro";
---

<footer>
    <div>
    <Social platform="github" username="d-v-b"/>
    <Social platform="linkedin" username="davis-bennett-62922126a"/>
    <Social platform="bluesky" username="davisvbennett.bsky.social"/>
    <Social platform="google scholar" username="jndGfkAAAAAJ&hl"/>
    </div>
    <div>
    <p>Copyright 2025, Davis Bennett</p>
</div>
</footer>
