<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bennettd@janelia.hhmi.org">bennettd@janelia.hhmi.org</a></li>
					<li><a href="https://github.com/d-v-b">github.com/d-v-b</a></li>
					<li><a href="https://twitter.com/davisvbennett">twitter.com/davisvbennett</a></li>
					<li><a href="https://scholar.google.com/citations?user=jndGfkAAAAAJ&hl=en">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
